{% extends "profile/__profile_base.html" %}
{% block title %}TutorHub - Profile Page{% endblock %}

{% block content %}

{% from "components/__formhelper.html" import render_field  %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y container" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto">
      <div class="card-body">
      <h4 class="card-title mb-4">Edit My Profile</h4>
      <form action="" method="POST" enctype="multipart/form-data">
          <div class="form-group">
			  {{ render_field(form.username, class="form-control", value=session['username']) }}
		  </div>
          <div class="form-group form-row">
            <label class="col-md-3 col-form-label">Profile Picture</label>
              <div class='col'>
                  <img  src="..\static\images\profilepictures\{{ session['profile_pic'] }}" class="img-md rounded-circle border">
              </div>
              <div class='col'>
                  <input type="file" name="image" id="image" style="margin-left:150px;">
                           {% if extensionerror %}
                            <p  style="color:red;" class="error"><strong>Error:</strong> {{ extensionerror }}
                          {% endif %}
              </div>
            </div>
          <hr>
          <div class="form-group">
			  {{ render_field(form.first_name, class="form-control", value=session['username']) }}
		  </div>
          <div class="form-group">
			  {{ render_field(form.first_name, class="form-control", value=session['username']) }}
		  </div>
          <div class="form-group">
			  {{ render_field(form.first_name, class="form-control", value=session['username']) }}
		  </div>
          <div class="form-group">
			  {{ render_field(form.first_name, class="form-control", value=session['username']) }}
		  </div>
          <button class="btn btn-primary float-right" type="submit">Save Changes</button>
      </form>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}