{% extends "profile/__profile_base.html" %}
{% block title %}TutorHub - Profile Page{% endblock %}

{% block content %}
<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
	// jQuery code


    /////////////////  items slider. /plugins/owlslider/
    if ($('.slider-items-owl').length > 0) { // check if element exists
        $('.slider-items-owl').owlCarousel({
        //change the loop daddy
            loop:false,
            nav:true,
            autoWidth:true,
            margin:10,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
            responsive:{
                0:{
                    items:1
                },
                640:{
                    items:2
                },
                1024:{
                    items: 3
                }
            }
        })
    } // end if




});
// jquery end
</script>

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg padding-y">
<div class="container">
	<h2 class="title-page">My Profile</h2>
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<aside class="col-md-3">
		<ul class="list-group">
			<a class="list-group-item active" href="#"> My Account </a>
			<a class="list-group-item" href="#"> Attended Courses </a>
			<a class="list-group-item" href="#"> My wishlist </a>
			<a class="list-group-item" href="#"> Return and refunds </a>
			<a class="list-group-item" href="#"> Settings </a>
			<a class="list-group-item" href="#"> My Selling Items </a>
			<a class="list-group-item" href="#"> Received orders </a>
		</ul>
	</aside> <!-- col.// -->
	<main class="col-md-9">

		<article class="card mb-3">
			<div class="card-body">

				<figure class="icontext">
						<div class="icon">
							<img class="rounded-circle img-sm border" src="..\static\images\profilepictures\{{ session['profile_pic'] }}">
						</div>
						<div class="text">
							<strong>{{session['username']}}</strong> <br>
							{{session['email']}} <br>
							<a href="profile_edit">Edit</a>
						</div>
				</figure>
				<hr>
				<article class="card-group">
					<figure class="card bg">
						<div class="p-3">
							 <h5 class="card-title">0</h5>
							<span>No. of Sessions</span>
						</div>
					</figure>
					<figure class="card bg">
						<div class="p-3">
							 <h5 class="card-title">0</h5>
							<span>Total No. of Hours</span>
						</div>
					</figure>
				</article>


			</div> <!-- card-body .// -->
		</article> <!-- card.// -->

		<article class="card mb-3">
			<div class="card-body" style="margin-left:2em;width:92%;">
				<h5 class="card-title mb-4">Recent Courses </h5>
					<div class="slider-items-owl owl-carousel owl-theme center-x" style="position:relative;">
								{% for course, tutor in coursearray.items() %}
								<div class="item-slide">
									<figure class="card card-product-grid" style="width: 18rem;">
										<img class="card-img-top" src="../static/images/coursethumbnails/{{course.course_thumbnail}}"height="140" width="240">
										<div class="widget-header">
												<a href="#" class="ml-3 icontext" data-toggle="dropdown" data-offset="20,10">
													<div class="icon"><img class="icon icon-xs rounded-circle" src='/static/images/profilepictures/{{ tutor.get_user_profile_pic() }}'></div>
													<div class="text">
														<small class="text-muted">{{ tutor.get_username() }}</small> <br>
													</div>
												</a>
										</div>
										<figcaption class="info-wrap">
											<h5 class="title" style="height:58px;"><a href="{{url_for('viewcourse', course_id = course.course_id)}}">{{ course.course_title }}</a></h5>
											<p class="text-muted" style="width:208px; height:58px;">{{ course.short_description }}</p>
											<br>
											<h6>${{ course.hourlyrate }}/Hour</h6>
										</figcaption>
									</figure> <!-- card // -->
								</div>
								{% endfor %}
							</div>
				</div> <!-- card-body .// -->
		</article>

	</main> <!-- col.// -->
</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y">
	<div class="container">
		<p class="float-md-right">
			&copy Copyright 2019 All rights reserved
		</p>
		<p>
			<a href="#">Terms and conditions</a>
		</p>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

{% endblock %}

