
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Bootstrap-ecommerce by Vosidiy M.">

<title>Website title - bootstrap html template</title>

<!-- jQuery -->
<script src="../js/jquery-2.0.0.min.js" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="../js/bootstrap.bundle.min.js" type="text/javascript"></script>
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css"/>

<!-- Fonticons -->
<link href="../fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
<link href="../fonts/feathericons/css/iconfont.css" rel="stylesheet" type="text/css" />
<link href="../fonts/material-icons/css/materialdesignicons.css" rel="stylesheet" type="text/css" />

<!-- custom style -->
<link href="../css/ui.css" rel="stylesheet" type="text/css"/>
<link href="../css/responsive.css" rel="stylesheet" />

<!-- custom javascript -->
<script src="../js/script.js" type="text/javascript"></script>


</head>
<body>


<style type="text/css">
	.section-content{
		min-height: 82vh;
	}
</style>



<header class="section-header">
<nav class="navbar navbar-light p-0 navbar-expand border-bottom">
<div class="container">
    <ul class="navbar-nav mr-auto">
  		<li class="nav-item dropdown">
  			<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> USD </a>
  			<ul class="dropdown-menu small">
  				<li><a class="dropdown-item" href="#">EUR</a></li>
  				<li><a class="dropdown-item" href="#">AED</a></li>
  				<li><a class="dropdown-item" href="#">RUBL </a></li>
  		  </ul>
  		</li>
  		<li class="nav-item dropdown">
  		 	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> Language </a>
  		    <ul class="dropdown-menu small">
  				<li><a class="dropdown-item" href="#">English</a></li>
  				<li><a class="dropdown-item" href="#">Arabic</a></li>
  				<li><a class="dropdown-item" href="#">Russian </a></li>
  		    </ul>
  		</li>
    </ul>
    <ul class="navbar-nav">
    	<li  class="nav-item"><a href="#" class="nav-link">  <i class="fa fa-comment"></i> Customer care </a></li>
    </ul>
</div> <!-- container //  -->
</nav>

<section class="border-bottom">
<nav class="navbar navbar-main navbar-expand-lg navbar-light">
  <div class="container">
  	<a class="navbar-brand" href="http://bootstrap-ecommerce.com"><img src="../images/logo.png" class="logo"></a>

  	<a href="" class="btn btn-light d-md-none">My cart (2)</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav1" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main_nav1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Supermarket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Electronics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fitness sport</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="http://example.com">More</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Foods and Drink</a>
            <a class="dropdown-item" href="#">Home interior</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Category 1</a>
            <a class="dropdown-item" href="#">Category 2</a>
            <a class="dropdown-item" href="#">Category 3</a>
          </div>
        </li>
      </ul>

      
      <div class="widgets-wrap d-none d-md-block">
      	<a href="#" class="widget-header">
			<div class="icon">
				<i class="icon-sm rounded-circle border fa fa-heart"></i>
			</div>
		</a>
		<a href="#" class="widget-header">
			<div class="icon">
				<i class="icon-sm rounded-circle border fa fa-shopping-cart"></i>
				<span class="notify">0</span>
			</div>
		</a>
      </div> <!-- widgets-wrap.// -->

    </div> <!-- collapse .// -->

  </div> <!-- container .// -->
</nav>
</section> <!-- header-main .// -->
</header> <!-- section-header.// -->




<section class="section-content bg padding-y">
<div class="container">


<article class="text-muted">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<br>

</article>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->




</body>
</html>