
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Bootstrap-ecommerce by Vosidiy M.">

<title>Website title - bootstrap html template</title>

<!-- jQuery -->
<script src="../js/jquery-2.0.0.min.js" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="../js/bootstrap.bundle.min.js" type="text/javascript"></script>
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css"/>

<!-- Fonticons -->
<link href="../fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
<link href="../fonts/feathericons/css/iconfont.css" rel="stylesheet" type="text/css" />
<link href="../fonts/material-icons/css/materialdesignicons.css" rel="stylesheet" type="text/css" />

<!-- custom style -->
<link href="../css/ui.css" rel="stylesheet" type="text/css"/>
<link href="../css/responsive.css" rel="stylesheet" />

<!-- custom javascript -->
<script src="../js/script.js" type="text/javascript"></script>


</head>
<body>

<header class="section-header">
<section class="header-main border-bottom">
<div class="container">
	<a href="http://bootstrap-ecommerce.com" class="brand-wrap"><img class="logo" src="../images/logo.png"></a>
</div> <!-- container.// -->
</section>
</header> <!-- section-header.// -->


<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="row">
			<div class="col-md-9">

	<header class="section-heading">
		<h3>Review components </h3>  
		<div class="rating-wrap">
			<ul class="rating-stars stars-lg">
				<li style="width:80%" class="stars-active">
					<img src="../images/icons/stars-active.svg" alt="">
				</li>
				<li>
					<img src="../images/icons/starts-disable.svg" alt="">
				</li>
			</ul>
			<strong class="label-rating text-lg"> 4.5 <span class="text-muted">| 112 reviews</span></strong>
		</div>
	</header>

	<article class="box mb-3">
		<div class="icontext w-100">
			<img src="../images/avatars/avatar1.jpg" class="img-xs icon rounded-circle">
			<div class="text">
				<span class="date text-muted float-md-right">24.04.2020 </span>  
				<h6 class="mb-1">Mike John </h6>
				<ul class="rating-stars">
					<li style="width:80%" class="stars-active">
						<img src="../images/icons/stars-active.svg" alt="">
					</li>
					<li>
						<img src="../images/icons/starts-disable.svg" alt="">
					</li>
				</ul>
				<span class="label-rating text-warning">Good</span>
			</div>
		</div> <!-- icontext.// -->
		<div class="mt-3">
			<p>
				Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip
			</p>	
		</div>
	</article>

	<article class="box mb-3">
		<div class="icontext w-100">
			<img src="../images/avatars/avatar2.jpg" class="img-xs icon rounded-circle">
			<div class="text">
				<span class="date text-muted float-md-right">24.04.2020 </span>  
				<h6 class="mb-1">Alex Pushkin </h6>
				<ul class="rating-stars">
					<li style="width:50%" class="stars-active">
						<img src="../images/icons/stars-active.svg" alt="">
					</li>
					<li>
						<img src="../images/icons/starts-disable.svg" alt="">
					</li>
				</ul>
				<span class="label-rating text-warning">Normal</span>
			</div>
		</div> <!-- icontext.// -->
		<div class="mt-3">
			<p>
				Not good item for dummy text item Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
				tempor incididunt ut labore et dolore magna aliqua. 
			</p>	
		</div>
	</article>

	<article class="box mb-3">
		<div class="icontext w-100">
			<img src="../images/avatars/avatar3.jpg" class="img-xs icon rounded-circle">
			<div class="text">
				<span class="date text-muted float-md-right">24.04.2020 </span>  
				<h6 class="mb-1">Muso Vosidov </h6>
				<ul class="rating-stars">
					<li style="width:80%" class="stars-active">
						<img src="../images/icons/stars-active.svg" alt="">
					</li>
					<li>
						<img src="../images/icons/starts-disable.svg" alt="">
					</li>
				</ul>
				<span class="label-rating text-warning">Good</span>
			</div>
		</div> <!-- icontext.// -->
		<div class="mt-3">
			<p>
				Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip
			</p>	
		</div>
	</article>

	</div> <!-- col.// -->
</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->




</body>
</html>