
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Bootstrap-ecommerce by Vosidiy M.">

<title>Website title - bootstrap html template</title>

<!-- jQuery -->
<script src="../js/jquery-2.0.0.min.js" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="../js/bootstrap.bundle.min.js" type="text/javascript"></script>
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css"/>

<!-- Fonticons -->
<link href="../fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
<link href="../fonts/feathericons/css/iconfont.css" rel="stylesheet" type="text/css" />
<link href="../fonts/material-icons/css/materialdesignicons.css" rel="stylesheet" type="text/css" />

<!-- custom style -->
<link href="../css/ui.css" rel="stylesheet" type="text/css"/>
<link href="../css/responsive.css" rel="stylesheet" />

<!-- custom javascript -->
<script src="../js/script.js" type="text/javascript"></script>


</head>
<body>

<header class="section-header">
<section class="header-main border-bottom">
<div class="container">
	<a href="http://bootstrap-ecommerce.com" class="brand-wrap"><img class="logo" src="../images/logo.png"></a>
</div> <!-- container.// -->
</section>
</header> <!-- section-header.// -->



<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->

<div class="row">
	<aside class="col-lg-9">
<div class="card">
<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase">
  <th scope="col">Product</th>
  <th scope="col" width="120">Quantity</th>
  <th scope="col" width="120">Price</th>
  <th scope="col" class="text-right" width="200"> </th>
</tr>
</thead>
<tbody>
<tr>
	<td>
		<figure class="itemside align-items-center">
			<div class="aside"><img src="../images/items/11.jpg" class="img-sm"></div>
			<figcaption class="info">
				<a href="#" class="title text-dark">Camera Canon EOS M50 Kit</a>
				<p class="text-muted small">Matrix: 25 Mpx <br> Brand: Canon</p>
			</figcaption>
		</figure>
	</td>
	<td> 
		<select class="form-control">
			<option>1</option>
			<option>2</option>	
			<option>3</option>	
			<option>4</option>	
		</select> 
	</td>
	<td> 
		<div class="price-wrap"> 
			<var class="price">$1156.00</var> 
			<small class="text-muted"> $315.20 each </small> 
		</div> <!-- price-wrap .// -->
	</td>
	<td class="text-right"> 
	<a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a> 
	<a href="" class="btn btn-light"> Remove</a>
	</td>
</tr>
<tr>
	<td>
		<figure class="itemside align-items-center">
			<div class="aside"><img src="../images/items/10.jpg" class="img-sm"></div>
			<figcaption class="info">
				<a href="#" class="title text-dark">ADATA Premier ONE microSDXC</a>
				<p class="text-muted small">Size: 256 GB  <br> Brand: ADATA </p>
			</figcaption>
		</figure>
	</td>
	<td> 
		<select class="form-control">
			<option>1</option>
			<option>2</option>	
			<option>3</option>	
			<option>4</option>	
		</select> 
	</td>
	<td> 
		<div class="price-wrap"> 
			<var class="price">$149.97</var> 
			<small  class="text-muted"> $75.00 each </small>  
		</div> <!-- price-wrap .// -->
	</td>
	<td class="text-right"> 
	<a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a> 
	<a href="" class="btn btn-light btn-round"> Remove</a>
	</td>
</tr>
<tr>
	<td>
		<figure class="itemside align-items-center">
			<div class="aside"><img src="../images/items/9.jpg" class="img-sm"></div>
			<figcaption class="info">
				<a href="#" class="title text-dark">Logitec headset for gaming</a>
				<p class="small text-muted">Version: CUH-ZCT2E  <br> Brand: Sony</p>
			</figcaption>
		</figure>
	</td>
	<td> 
		<select class="form-control">
			<option>1</option>
			<option>2</option>	
			<option>3</option>	
		</select> 
	</td>
	<td> 
		<div class="price-wrap"> 
			<var class="price">$98.00</var> 
			<small class="text-muted"> $578.00 each</small> 
		</div> <!-- price-wrap .// -->
	</td>
	<td class="text-right"> 
		<a data-original-title="Save to Wishlist" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a> 
		<a href="" class="btn btn-light btn-round"> Remove</a>
	</td>
</tr>
</tbody>
</table>

<div class="card-body border-top">
	<p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
</div> <!-- card-body.// -->

</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-3">

<div class="card mb-3">
<div class="card-body">
<form>
	<div class="form-group">
		<label>Have coupon?</label>
		<div class="input-group">
			<input type="text" class="form-control" name="" placeholder="Coupon code">
			<span class="input-group-append"> 
				<button class="btn btn-primary">Apply</button>
			</span>
		</div>
	</div>
</form>
</div> <!-- card-body.// -->
</div> <!-- card.// -->

<div class="card">
<div class="card-body">
		<dl class="dlist-align">
		  <dt>Total price:</dt>
		  <dd class="text-right">$69.97</dd>
		</dl>
		<dl class="dlist-align">
		  <dt>Discount:</dt>
		  <dd class="text-right text-danger">- $10.00</dd>
		</dl>
		<dl class="dlist-align">
		  <dt>Total:</dt>
		  <dd class="text-right text-dark b"><strong>$59.97</strong></dd>
		</dl>
		<hr>
		<p class="text-center mb-3">
			<img src="../images/misc/payments.png" height="26">
		</p>
		<a href="#" class="btn btn-primary btn-block"> Make Purchase </a>
		<a href="#" class="btn btn-light btn-block">Continue Shopping</a>
</div> <!-- card-body.// -->
</div> <!-- card.// -->

	</aside> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<br><br>
<!-- ============================ COMPONENT CART ================================= -->
<div class="row">
		<main class="col-md-9">
			<article class="card card-body mb-3">
				<div class="row align-items-center">
					<div class="col-md-6">
						<figure class="itemside">
							<div class="aside"><img src="../images/items/4.jpg" class="border img-sm"></div>
							<figcaption class="info">
								<span class="text-muted">Wears</span>
								<a href="#" class="title">Jeans bag for hiking </a>
							</figcaption>
						</figure> 
					</div> <!-- col.// -->
					<div class="col"> 
						<div class="input-group input-spinner">
							<div class="input-group-prepend">
							<button class="btn btn-light" type="button" id="button-plus"> <i class="fa fa-minus"></i> </button>
							</div>
							<input type="text" class="form-control"  value="1">
							<div class="input-group-append">
							<button class="btn btn-light" type="button" id="button-minus"> <i class="fa fa-plus"></i> </button>
							</div>
						</div> <!-- input-group.// -->
					</div> <!-- col.// -->
					<div class="col">
						<div class="price h5"> $180.00 </div>
					</div>
					<div class="col flex-grow-0 text-right">
						<a href="#" class="btn btn-light"> <i class="fa fa-times"></i> </a>
					</div>
				</div> <!-- row.// -->
			</article> <!-- card .// -->

			<article class="card card-body mb-3">
				<div class="row align-items-center">
					<div class="col-md-6">
						<figure class="itemside">
							<div class="aside"><img src="../images/items/5.jpg" class="border img-sm"></div>
							<figcaption class="info">
								<span class="text-muted">Accessories</span>
								<a href="#" class="title">Leather wallet brown medium size</a>
							</figcaption>
						</figure> 
					</div> <!-- col.// -->
					<div class="col"> 
						<div class="input-group input-spinner">
							<div class="input-group-prepend">
							<button class="btn btn-light" type="button" id="button-plus"> <i class="fa fa-minus"></i> </button>
							</div>
							<input type="text" class="form-control"  value="1">
							<div class="input-group-append">
							<button class="btn btn-light" type="button" id="button-minus"> <i class="fa fa-plus"></i> </button>
							</div>
						</div> <!-- input-group.// -->
					</div> <!-- col.// -->
					<div class="col">
						<div class="price h5"> $239.00 </div>
					</div>
					<div class="col flex-grow-0 text-right">
						<a href="#" class="btn btn-light"> <i class="fa fa-times"></i> </a>
					</div>
				</div> <!-- row.// -->
			</article> <!-- card .// -->

			<article class="card card-body mb-3">
				<div class="row align-items-center">
					<div class="col-md-6">
						<figure class="itemside">
							<div class="aside"><img src="../images/items/6.jpg" class="border img-sm"></div>
							<figcaption class="info">
								<span class="text-muted">Interior items</span>
								<a href="#" class="title">Dark gray sofa for room </a>
							</figcaption>
						</figure> 
					</div> <!-- col.// -->
					<div class="col"> 
						<div class="input-group input-spinner">
							<div class="input-group-prepend">
							<button class="btn btn-light" type="button" id="button-plus"> <i class="fa fa-minus"></i> </button>
							</div>
							<input type="text" class="form-control"  value="1">
							<div class="input-group-append">
							<button class="btn btn-light" type="button" id="button-minus"> <i class="fa fa-plus"></i> </button>
							</div>
						</div> <!-- input-group.// -->
					</div> <!-- col.// -->
					<div class="col">
						<div class="price h5"> $187.00 </div>
					</div>
					<div class="col flex-grow-0 text-right">
						<a href="#" class="btn btn-light"> <i class="fa fa-times"></i> </a>
					</div>
				</div> <!-- row.// -->
			</article> <!-- card .// -->

		</main> <!-- col.// -->
		<aside class="col-md-3">
			<div class="card">
			<div class="card-body">
				<div class="input-group mb-3">
					<input type="text" class="form-control" name="" placeholder="Promo code">
					<span class="input-group-append"> 
						<button class="btn btn-primary">Ok</button>
					</span>
				</div>
				<dl class="dlist-align">
				  <dt>Subtotal:</dt>
				  <dd class="text-right">$938.50</dd>
				</dl>
				<dl class="dlist-align">
				  <dt>Discount:</dt>
				  <dd class="text-right text-danger">10%</dd>
				</dl>
				<dl class="dlist-align">
				  <dt>Grand Total:</dt>
				  <dd class="text-right text-dark"><strong>$948.50</strong></dd>
				</dl>
				<hr>
				<a href="#" class="btn btn-primary btn-block"> Purchase </a>

				<p class="small my-3 text-muted">Some extra informative text  can be placed here as dummy text will be replaced</p>
				<a href="#" class="btn btn-outline-warning btn-block">Installment</a>
			</div> <!-- card-body.// -->
			</div> <!-- card.// -->
		</aside> <!-- col.// -->
	</div> <!-- row.// -->
<!-- ============================ COMPONENT CART END .// ================================= -->

<br><br>

<!-- ============================ COMPONENT 2  ================================= -->
<div class="card">
<div class="row no-gutters">
	<aside class="col-md-9">
			<article class="card-body border-bottom">
					<div class="row">
						<div class="col-md-7">
							<figure class="itemside">
								<div class="aside"><img src="../images/items/1.jpg" class="border img-sm"></div>
								<figcaption class="info">
									<a href="#" class="title">Some name of item goes here nice </a>
									<strong class="">$128.00</strong>
									<div>
										<a href="#" class="btn-link mr-2">Save for later</a> 
										<a href="#" class="btn-link text-danger"> Delete</a>
									</div>
								</figcaption>
							</figure> 
						</div> <!-- col.// -->
						<div class="col-md-5 text-md-right text-right"> 
							<div class="input-group input-spinner">
							  <div class="input-group-prepend">
							    <button class="btn btn-light" type="button" id="button-plus"> <i class="fa fa-plus"></i> </button>
							  </div>
							  <input type="text" class="form-control"  value="1">
							  <div class="input-group-append">
							    <button class="btn btn-light" type="button" id="button-minus"> <i class="fa fa-minus"></i> </button>
							  </div>
							</div> <!-- input-group.// -->
						</div>
					</div> <!-- row.// -->
			</article> <!-- card-group.// -->
			<article class="card-body border-bottom">
					<div class="row">
						<div class="col-md-7">
							<figure class="itemside">
								<div class="aside"><img src="../images/items/2.jpg" class="border img-sm"></div>
								<figcaption class="info">
									<a href="#" class="title">Product name goes here nice </a>
									<strong class="">$128.00</strong>
									<div>
										<a href="#" class="btn-link mr-2">Save for later</a> 
										<a href="#" class="btn-link text-danger"> Delete</a>
									</div>
								</figcaption>
							</figure> 
						</div> <!-- col.// -->
						<div class="col-md-5 text-md-right text-right"> 
							<div class="input-group input-spinner">
							  <div class="input-group-prepend">
							    <button class="btn btn-light" type="button" id="button-plus"> <i class="fa fa-plus"></i> </button>
							  </div>
							  <input type="text" class="form-control"  value="1">
							  <div class="input-group-append">
							    <button class="btn btn-light" type="button" id="button-minus"> <i class="fa fa-minus"></i> </button>
							  </div>
							</div> <!-- input-group.// -->
						</div>
					</div> <!-- row.// -->
			</article> <!-- card-group.// -->
			<article class="card-body border-bottom">
					<div class="row">
						<div class="col-md-7">
							<figure class="itemside">
								<div class="aside"><img src="../images/items/3.jpg" class="border img-sm"></div>
								<figcaption class="info">
									<a href="#" class="title">Another name of some product goes just </a>
									<strong class="">$98.50</strong>
									<div>
										<a href="#" class="btn-link mr-2">Save for later</a> 
										<a href="#" class="btn-link text-danger"> Delete</a>
									</div>
								</figcaption>
							</figure> 
						</div> <!-- col.// -->
						<div class="col-md-5 text-md-right text-right"> 
							<div class="input-group input-spinner">
							  <div class="input-group-prepend">
							    <button class="btn btn-light" type="button" id="button-plus"> <i class="fa fa-plus"></i> </button>
							  </div>
							  <input type="text" class="form-control"  value="1">
							  <div class="input-group-append">
							    <button class="btn btn-light" type="button" id="button-minus"> <i class="fa fa-minus"></i> </button>
							  </div>
							</div> <!-- input-group.// -->
						</div>
					</div> <!-- row.// -->
			</article> <!-- card-group.// -->
	</aside> <!-- col.// -->
	<aside class="col-md-3 border-left">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>Total price:</dt>
			  <dd class="text-right">$69.00</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Discount:</dt>
			  <dd class="text-right text-danger">- $13.00</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Total:</dt>
			  <dd class="text-right text-dark b"><strong>$80.45</strong></dd>
			</dl>
			<hr>
			<a href="#" class="btn btn-primary btn-block"> Make Purchase </a>
			<a href="#" class="btn btn-light btn-block">Continue Shopping</a>
		</div> <!-- card-body.// -->
	</aside> <!-- col.// -->
</div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 2 END .// ================================= -->

<br><br>


<div class="row">
	<aside class="col-md-9">
<!-- ============================ COMPONENT 3  ================================= -->

<div class="card mb-3">
	<article class="card-body">
		<header class="mb-4">
			<h4 class="card-title">Review cart</h4>
		</header>
			<div class="row">
				<div class="col-md-6">
					<figure class="itemside  mb-3">
						<div class="aside"><img src="../images/items/1.jpg" class="border img-xs"></div>
						<figcaption class="info">
							<p>Name of the product goes here or title </p>
							<span>2x $290 = Total: $430 </span>
						</figcaption>
					</figure>
				</div> <!-- col.// -->
				<div class="col-md-6">
					<figure class="itemside  mb-3">
						<div class="aside"><img src="../images/items/2.jpg" class="border img-xs"></div>
						<figcaption class="info">
							<p>Name of the product goes here or title </p>
							<span>2x $290 = Total: $430 </span>
						</figcaption>
					</figure>
				</div> <!-- col.// -->
				<div class="col-md-6">
					<figure class="itemside mb-3">
						<div class="aside"><img src="../images/items/3.jpg" class="border img-xs"></div>
						<figcaption class="info">
							<p>Name of the product goes here or title </p>
							<span>1x $290 = Total: $290 </span>
						</figcaption>
					</figure>
				</div> <!-- col.// -->
				<div class="col-md-6">
					<figure class="itemside  mb-3">
						<div class="aside"><img src="../images/items/4.jpg" class="border img-xs"></div>
						<figcaption class="info">
							<p>Name of the product goes here or title </p>
							<span>4x $290 = Total: $430 </span>
						</figcaption>
					</figure>
				</div> <!-- col.// -->
			</div> <!-- row.// -->
	</article> <!-- card-body.// -->
	<article class="card-body border-top">

		<dl class="row">
		  <dt class="col-sm-10">Subtotal: <span class="float-right text-muted">2 items</span></dt>
		  <dd class="col-sm-2 text-right"><strong>$1,568</strong></dd>

		  <dt class="col-sm-10">Discount: <span class="float-right text-muted">10% offer</span></dt>
		  <dd class="col-sm-2 text-danger text-right"><strong>$29</strong></dd>

		  <dt class="col-sm-10">Delivery charge: <span class="float-right text-muted">Express delivery</span></dt>
		  <dd class="col-sm-2 text-right"><strong>$120</strong></dd>

		  <dt class="col-sm-10">Tax: <span class="float-right text-muted">5%</span></dt>
		  <dd class="col-sm-2 text-right text-success"><strong>$7</strong></dd>

		  <dt class="col-sm-10">Total:</dt>
		  <dd class="col-sm-2 text-right"><strong class="h5 text-dark">$1,650</strong></dd>
		</dl>

	</article> <!-- card-body.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 3  ================================= -->

	</aside> <!-- col.// -->
	<aside class="col-md-3">
<!-- ============================ COMPONENT 4  ================================= -->

<div class="card">
<div class="card-body">
	<p>Dropdown cart</p>
	<div class="dropdown">
	  <a href="#" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown">
	  Show cart
	  </a>
	  <div class="dropdown-menu p-3 dropdown-menu-right" style="min-width:300px;">
		   <figure class="itemside mb-3">
			<div class="aside"><img src="../images/items/1.jpg" class="img-sm border"></div>
			<figcaption class="info align-self-center">
				<p class="title">Name of item nice iteme</p>
				<a href="#" class="float-right"><i class="fa fa-times"></i></a>
				<div class="price">$250</div> <!-- price-wrap.// -->
			</figcaption>
		</figure>
		<figure class="itemside mb-3">
			<div class="aside"><img src="../images/items/2.jpg" class="img-sm border"></div>
			<figcaption class="info align-self-center">
				<p class="title">Some other item name is here</p>
				<a href="#" class="float-right"><i class="fa fa-times"></i></a>
				<div class="price">$250</div> <!-- price-wrap.// -->
			</figcaption>
		</figure>
		<figure class="itemside mb-3">
			<div class="aside"><img src="../images/items/3.jpg" class="img-sm border"></div>
			<figcaption class="info align-self-center">
				<p class="title">Another name of item  item</p>
				<a href="#" class="float-right"><i class="fa fa-times"></i></a>
				<div class="price">$250</div> <!-- price-wrap.// -->
			</figcaption>
		</figure>
		<div class="price-wrap text-center py-3 border-top">Subtotal: <strong class="h5 price">$1200</strong></div>
		<a href="" class="btn btn-primary btn-block"> Checkout </a>
	  </div> <!-- drowpdown-menu.// -->
	</div>  <!-- dropdown.// -->

</div> <!-- card-body.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 4 END .// ================================= -->

	</aside> <!-- col.// -->
</div> <!-- row.// -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->





</body>
</html>