
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Bootstrap-ecommerce by Vosidiy M.">

<title>Website title - bootstrap html template</title>

<!-- jQuery -->
<script src="../js/jquery-2.0.0.min.js" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="../js/bootstrap.bundle.min.js" type="text/javascript"></script>
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css"/>

<!-- Fonticons -->
<link href="../fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">
<link href="../fonts/feathericons/css/iconfont.css" rel="stylesheet" type="text/css" />
<link href="../fonts/material-icons/css/materialdesignicons.css" rel="stylesheet" type="text/css" />

<!-- custom style -->
<link href="../css/ui.css" rel="stylesheet" type="text/css"/>
<link href="../css/responsive.css" rel="stylesheet" />

<!-- custom javascript -->
<script src="../js/script.js" type="text/javascript"></script>


</head>
<body>

<header class="section-header">
<section class="header-main border-bottom">
<div class="container">
	<a href="http://bootstrap-ecommerce.com" class="brand-wrap"><img class="logo" src="../images/logo.png"></a>
</div> <!-- container.// -->
</section>
</header> <!-- section-header.// -->


<section class="section-content padding-y bg">
<div class="container">

<!-- =========================  COMPONENT MYORDER 1 ========================= --> 
<div class="row">
	<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item active" href="#"> My order history </a>
			<a class="list-group-item" href="#"> Transactions </a>
			<a class="list-group-item" href="#"> Return and refunds </a>
			<a class="list-group-item" href="#">Settings </a>
			<a class="list-group-item" href="#"> My Selling Items </a>
			<a class="list-group-item" href="#"> Received orders </a>
		</ul>
		<br>
		<a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
		<!--   SIDEBAR .//END   -->
	</aside>
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Order ID: 6123456789</strong>
			<span>Order Date: 16 December 2018</span>
		</header>
		<div class="card-body">
			<div class="row"> 
				<div class="col-md-8">
					<h6 class="text-muted">Delivery to</h6>
					<p>Michael Jackson <br>  
					Phone +1234567890 Email: myname@pixsellz.com <br>
			    	Location: Home number, Building name, Street 123,  Tashkent, UZB <br> 
			    	P.O. Box: 100123
			 		</p>
				</div>
				<div class="col-md-4">
					<h6 class="text-muted">Payment</h6>
					<span class="text-success">
						<i class="fab fa-lg fa-cc-visa"></i>
					    Visa  **** 4216  
					</span>
					<p>Subtotal: $356 <br>
					 Shipping fee:  $56 <br> 
					 <span class="b">Total:  $456 </span>
					</p>
				</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		<div class="table-responsive">
		<table class="table table-hover">
			<tr>
				<td width="65">
					<img src="../images/items/1.jpg" class="img-xs border">
				</td>
				<td> 
					<p class="title mb-0">Product name goes here </p>
					<var class="price text-muted">USD 145</var>
				</td>
				<td> Seller <br> Nike clothing </td>
				<td width="250"> <a href="#" class="btn btn-outline-primary">Track order</a> <a href="#" class="btn btn-light"> Details </a> </td>
			</tr>
			<tr>
				<td>
					<img src="../images/items/2.jpg" class="img-xs border">
				</td>
				<td> 
					<p class="title mb-0">Another name goes here </p>
					<var class="price text-muted">USD 15</var>
				</td>
				<td> Seller <br> ABC shop </td>
				<td> <a href="#" class="btn btn-outline-primary">Track order</a> <a href="#" class="btn btn-light"> Details </a> </td>
			</tr>
			<tr>
				<td>
					<img src="../images/items/3.jpg" class="img-xs border">
				</td>
				<td> 
					<p class="title mb-0">The name of the product  goes here </p>
					<var class="price text-muted">USD 145</var>
				</td>
				<td> Seller <br> Wallmart </td>
				<td> <a href="#" class="btn btn-outline-primary">Track order</a> <a href="#" class="btn btn-light"> Details </a> </td>
			</tr>
		</table>
		</div> <!-- table-responsive .end// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
<!-- =========================  COMPONENT MYORDER 1 END.// ========================= --> 

<br> <br>

<!-- =========================  COMPONENT MYORDER 2 ========================= --> 
<div class="row">
	<aside class="col-md-3">
<!--   SIDEBAR   -->
<ul class="list-group">
	<a class="list-group-item" href="#"> My order history </a>
	<a class="list-group-item active" href="#"> Transactions </a>
	<a class="list-group-item" href="#"> Return and refunds </a>
	<a class="list-group-item" href="#">Settings </a>
	<a class="list-group-item" href="#"> My Selling Items </a>
	<a class="list-group-item" href="#"> Received orders </a>
</ul>
<br>
<a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
<!--   SIDEBAR .//END   -->
	</aside>
	<div class="col-md-9">
<article class="card order-group">
<header class="card-header">
	<b class="d-inline-block mr-3">Transaction ID: 6123456789</b>
	<span>Date: 16 December 2018</span>
</header>
<div class="card-body">
	<div class="row">
		<div class="col-md-4">
			<h6 class="text-muted">Payment</h6>
			<span class="text-success">
				<i class="fab fa-lg fa-cc-visa"></i>
			    Visa  **** 4216  
			</span>

			<p>Subtotal: $356 <br>
			 Shipping fee:  $56 <br> 
			 <span class="b">Total:  $456 </span>
			</p>
			
		</div>
		<div class="col-md-4">
			<h6 class="text-muted">Contact</h6>
			<p>Michael Jackson <br> +1234567890 <br> somename@gmail.com</p>
		</div>
		<div class="col-md-4">
			<h6 class="text-muted">Shipping address</h6>
			<p> Home 123, Building name, Street abcd,  Tashkent Uzbekistan  </p>
		</div>
	</div> <!-- row.// -->
	<hr>
	<ul class="row">
		<li class="col-md-4">
			<figure class="itemside  mb-3">
				<div class="aside"><img src="../images/items/1.jpg" class="img-sm border"></div>
				<figcaption class="info align-self-center">
					<p class="title">Just name of title or name goes here</p>
					<span class="text-muted">$145 </span>
				</figcaption>
			</figure> 
		</li>
		<li class="col-md-4">
			<figure class="itemside  mb-3">
				<div class="aside"><img src="../images/items/2.jpg" class="img-sm border"></div>
				<figcaption class="info align-self-center">
					<p class="title">Just name of title or name goes here</p>
					<span class="text-muted">$250 </span>
				</figcaption>
			</figure> 
		</li>
		<li class="col-md-4"> 
			<figure class="itemside mb-3">
				<div class="aside"><img src="../images/items/3.jpg" class="img-sm border"></div>
				<figcaption class="info align-self-center">
					<p class="title">Just name of title or name goes here</p>
					<span class="text-muted">$145 </span>
				</figcaption>
			</figure> 
		</li>
	</ul>
</div> <!-- card-body .// -->
</article> 
</div>  <!-- col .// -->
</div> <!-- row.// -->
<!-- =========================  COMPONENT MYORDER 2 END.// ========================= -->

<br> <br>

<!-- =========================  COMPONENT TRACKING ========================= -->
<article class="card">
	<header class="card-header"> My Orders / Tracking </header>
	<div class="card-body">
<h6>Order ID: 09876545678</h6>
<article class="card">
	<div class="card-body row no-gutters">
		<div class="col">
			<strong>Delivery Estimate time:</strong> <br>16:40, 12 nov 2018
		</div>
		<div class="col">
			<strong>Shipping company:</strong> <br> Fedex, | <i class="fa fa-phone"></i> +123467890
		</div>
		<div class="col">
			<strong>Status:</strong> <br> Picked by the courier
		</div>
		<div class="col">
			<strong>Tracking #:</strong> <br> 98765432123
		</div>
	</div>
</article>

<div class="tracking-wrap">
	<div class="step active">
		<span class="icon"> <i class="fa fa-check"></i> </span>
		<span class="text">Order confirmed</span>
	</div> <!-- step.// -->
	<div class="step active">
		<span class="icon"> <i class="fa fa-user"></i> </span>
		<span class="text"> Picked by courier</span>
	</div> <!-- step.// -->
	<div class="step">
		<span class="icon"> <i class="fa fa-truck"></i> </span>
		<span class="text"> On the way </span>
	</div> <!-- step.// -->
	<div class="step">
		<span class="icon"> <i class="fa fa-box"></i> </span>
		<span class="text">Ready for pickup</span>
	</div> <!-- step.// -->
</div>


<hr>
<ul class="row">
	<li class="col-md-4">
		<figure class="itemside  mb-3">
			<div class="aside"><img src="../images/items/1.jpg" class="img-sm border"></div>
			<figcaption class="info align-self-center">
				<p class="title">Just name of title or <br> some name goes here</p>
				<span class="text-muted">$145 </span>
			</figcaption>
		</figure> 
	</li>
	<li class="col-md-4">
		<figure class="itemside  mb-3">
			<div class="aside"><img src="../images/items/2.jpg" class="img-sm border"></div>
			<figcaption class="info align-self-center">
				<p class="title">Great demo product title <br> or name goes here</p>
				<span class="text-muted">$250 </span>
			</figcaption>
		</figure> 
	</li>
	<li class="col-md-4"> 
		<figure class="itemside mb-3">
			<div class="aside"><img src="../images/items/3.jpg" class="img-sm border"></div>
			<figcaption class="info align-self-center">
				<p class="title">Another demo product title <br> or name goes here</p>
				<span class="text-muted">$145 </span>
			</figcaption>
		</figure> 
	</li>
</ul>


<p><strong>Note: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<a href="#" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Back to orders</a>
	</div> <!-- card-body.// -->
</article>
<!-- =========================  COMPONENT TRACKING END.// ========================= -->

<br><br>


<!-- =========================  COMPONENT WISHLIST ========================= -->
<article class="card">
	<header class="card-header"> My wishlist </header>
	<div class="card-body">

<div class="row">
		<div class="col-md-4">
			<figure class="itemside mb-4">
				<div class="aside"><img src="../images/items/1.jpg" class="border img-md"></div>
				<figcaption class="info">
					<a href="#" class="title">Some name of item goes here nice</a>
					<p class="price mb-2">$1280</p>
					<a href="#" class="btn btn-primary btn-sm"> Add to cart </a>
					<a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Remove from wishlist"> <i class="fa fa-times"></i> </a>
				</figcaption>
			</figure>
		</div> <!-- col.// -->

		<div class="col-md-4">
			<figure class="itemside mb-4">
				<div class="aside"><img src="../images/items/2.jpg" class="border img-md"></div>
				<figcaption class="info">
					<a href="#" class="title">Great product name should be here</a>
					<p class="price mb-2">$1280</p>
					<a href="#" class="btn btn-primary btn-sm"> Add to cart </a>
					<a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Remove from wishlist"> <i class="fa fa-times"></i> </a>
				</figcaption>
			</figure>
		</div> <!-- col.// -->

		<div class="col-md-4">
			<figure class="itemside mb-4">
				<div class="aside"><img src="../images/items/3.jpg" class="border img-md"></div>
				<figcaption class="info">
					<a href="#" class="title">Another name of item goes here </a>
					<p class="price mb-2">$1280</p>
					<a href="#" class="btn btn-primary btn-sm"> Add to cart </a>
					<a href="#" class="btn btn-danger btn-sm"  data-toggle="tooltip" title="Remove from wishlist"> <i class="fa fa-times"></i> </a>
				</figcaption>
			</figure>
		</div> <!-- col.// -->
	</div> <!-- row .//  -->

	</div> <!-- card-body.// -->
</article>
<!-- =========================  COMPONENT WISHLIST END.// ========================= -->


<br><br>

<!-- =========================  COMPONENT WISHLIST 2 ========================= -->
<article class="card">
	<header class="card-header"> My wishlist </header>
	<div class="card-body">
<div class="row">
		<div class="col-md-3">
			<figure class="card card-product-grid  mb-3">
				<div class="img-wrap"> <img src="../images/items/1.jpg"> </div>
				<figcaption class="info-wrap">
					<a href="#" class="title text-truncate">Great product name should be here</a>
					<p class="price mb-2">$1280</p>
					<a href="#" class="btn btn-primary btn-sm"> Add to cart </a>
					<a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Remove from wishlist"> <i class="fa fa-times"></i> </a>
				</figcaption>
			</figure>
		</div> <!-- col.// -->
		<div class="col-md-3">
			<figure class="card card-product-grid  mb-3">
				<div class="img-wrap"> <img src="../images/items/3.jpg"> </div>
				<figcaption class="info-wrap">
					<a href="#" class="title text-truncate">Another name of item goes here</a>
					<p class="price mb-2">$1280</p>
					<a href="#" class="btn btn-primary btn-sm"> Add to cart </a>
					<a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Remove from wishlist"> <i class="fa fa-times"></i> </a>
				</figcaption>
			</figure>
		</div> <!-- col.// -->
		<div class="col-md-3">
			<figure class="card card-product-grid  mb-3">
				<div class="img-wrap"> <img src="../images/items/2.jpg"> </div>
				<figcaption class="info-wrap">
					<a href="#" class="title text-truncate">Another product name</a>
					<p class="price mb-2">$1280</p>
					<a href="#" class="btn btn-primary btn-sm"> Add to cart </a>
					<a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Remove from wishlist"> <i class="fa fa-times"></i> </a>
				</figcaption>
			</figure>
		</div> <!-- col.// -->
		<div class="col-md-3">
			<figure class="card card-product-grid  mb-3">
				<div class="img-wrap"> <img src="../images/items/4.jpg"> </div>
				<figcaption class="info-wrap">
					<a href="#" class="title text-truncate">Better item name</a>
					<p class="price mb-2">$1280</p>
					<a href="#" class="btn btn-primary btn-sm"> Add to cart </a>
					<a href="#" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Remove from wishlist"> <i class="fa fa-times"></i> </a>
				</figcaption>
			</figure>
		</div> <!-- col.// -->
	</div> <!-- row .//  -->


	</div> <!-- card-body.// -->
</article>
<!-- =========================  COMPONENT WISHLIST 2 END.// ========================= -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->





</body>
</html>