{% extends "admin/adminBase.html" %}
{% block title %}<title>Home</title>{% endblock %}

{% block content %}
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--        <div class="collapse navbar-collapse justify-content-end" style="padding-right: 60px;">-->
<!--            <div class="dropdown">-->
<!--                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notification (<b>1</b>)</a>-->
<!--                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                    <div>-->
<!--                        <a class="dropdown-item" href="/adminCertificate"><h5><u>Institution</u></h5></a>-->
<!--                        <h5 style="padding-left: 20px; padding-right: 20px;">"Institution_NYP" verification pending</h5>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--    <br><br>-->
    <h1 class="display-4">Welcome!</h1>
    <h3>{{session['admin_username']}}</h3>
{% endblock %}