{% extends "admin/adminPreloginbase.html" %}
{% block title %}<title>Login</title>{% endblock %}

{% block content %}

{% from "components/__formhelper.html" import render_field  %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
      <h4 class="card-title mb-4">Sign in</h4>
      <form action="" method="POST">
          <div class="form-group">
			  {{ render_field(form.username, class="form-control") }}
		  </div> <!-- form-group// -->
          <div class="form-group">
			  <a href="#" class="float-right">Forgot password?</a>
			  {{ render_field(form.password, class="form-control") }}
          </div> <!-- form-group// -->
		  <div class="form-group">
			   {{render_field(form.remember)}}
		  </div>
		  <input type="submit" value="Login" class="btn btn-primary btn-block">
      </form>
          {% if error %}
            <p  style="color:red;" class="error"><strong>Error:</strong> {{ error }}
          {% endif %}
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">Don't have account? <a href="/adminRegister">Register</a></p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}