{% extends "admin/adminPreloginbase.html" %}
{% block title %}<title>Pre-Login</title>{% endblock %}

{% block content %}
<br>
<h1 class="text-center">TutorHub Administrator</h1>
<section class="section-content padding-y" style="min-height:84vh">
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <a class="btn btn-primary btn-block" href="/adminLogin">Login</a>
            <a class="btn btn-primary btn-block" href="/adminRegister">Register</a>
        </div>
    </div>
    <br><br>
</section>
{% endblock %}