{% extends 'tutor_interface/base.html' %}
{% block title %} Edit Sessions {% endblock %}
{% from "tutor_onboarding/__formhelperwithoutlabel.html" import render_field  %}

{% block content %}
<div class=" padding-y container">
   <h1>Create Sessions</h1>
   <hr>

<!-- ============================ COMPONENT CARDS  ================================= -->
<div class="card ">
    {% for sessions in session_list_objects %}
<article class="card-body">
    <div class="card padding-y">
        <div class="row">
            <div class="col-md-3">
                <p class="text-center text-muted">SESSION</p>
                <h4 class="text-center">{{sessions.session_no}}</h4>
            </div>
            <div class="col-md-6">
                <i class="icon mr-2 fas fa-stopwatch">Approx. {{sessions.time_approx}} hours</i>
                <h4>{{sessions.session_title}}</h4>
                <p>{{sessions.session_description}}</p>
            </div>
            <div class="col-md-3">
                <a href="{{url_for('editupdatesession', course_id=course_id, session_no=sessions.session_no)}}" class="btn btn-md btn-outline-primary">Update</a>
                <button type="button" class="btn btn-md btn-warning" data-toggle="modal" data-target="#myModal_{{sessions.session_no}}">
                      Delete
                 </button>
                <form action="{{url_for('editdeletesession',course_id=course_id,session_no=sessions.session_no)}}" method="POST">
                    <div class="modal" id="myModal_{{sessions.session_no}}">
                      <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h4 class="modal-title">Delete Confirmation</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>

                          <div class="modal-body">
                            Are you sure you want to delete session {{sessions.session_no}}?
                          </div>

                          <div class="modal-footer">
                            <input type="submit" value="Delete" class="btn btn-danger">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                          </div>

                        </div>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</article> <!-- card-body end .// -->
    {% endfor %}
    <div class="text-center padding-y ">
                <p>Add New Session</p>
        <a href="{{url_for('editaddnewsession',course_id=course_id)}}" class="icon icon-md rounded-circle border"><i class="fa fa-plus"></i></a>

    </div>
</div> <!-- card.// -->
<div class="padding-y float-right">
      <a href="{{url_for('updatecourse', course_id = course_id)}}" class="btn btn-lg btn-primary">Finish</a>

</div>

<!-- ============================ COMPONENT CARDS END.// ================================= -->
 </div>
{% endblock %}