{% extends "tutor_interface/base.html" %}
{% block title %} {{courseobject.course_title}} {% endblock %}
{% block content %}
 <section class="section-content padding-y">
        <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="border">
                    <a href="{{url_for('editcourse',course_id=course_id)}}" class="btn btn-primary float-right">Edit</a>
                    <h1>{{courseobject.course_title}}</h1>
                    <br>
                    <div class="widget-header">
                            <a href="#" class="ml-3 icontext" data-toggle="dropdown" data-offset="20,10">
                                <div class="icon"><img class="icon icon-md rounded-circle border" src=/static/images/profilepictures/{{session['profile_pic']}}></div>
                                <div class="text">
                                    <p style="font-size:2em;">{{session['name']}}</p> <br>
                                </div>
                            </a>
                    </div>
                    <br> <br>
                    <img src="/static/images/coursethumbnails/{{courseobject.course_thumbnail}}" class="img-fluid" alt="Responsive image">
                    <br> <br>
                    <h3>Course Description</h3>
                    <br>
                    <p>{{courseobject.description}}</p>
                    <br>
                </div>
                <br>
                <div class="border">
                    <a href="{{url_for('editcoursesession',course_id=course_id)}}" class="btn btn-primary float-right">Edit</a>
                    <h3>Course Syllabus</h3>
                    {% for sessions in courseobject.sessions %}
                    <br> <br>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="text-center text-muted">SESSION</p>
                            <h4 class="text-center">{{sessions.session_no}}</h4>
                        </div>
                        <div class="col">
                            <i class="icon mr-2 fas fa-stopwatch">Approx. {{sessions.time_approx}} hours</i>
                            <h4>{{sessions.session_title}}</h4>
                            <p>{{sessions.session_description}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
            <div class="col-md-6">
                <button type="button" class="float-right btn btn-md btn-warning" data-toggle="modal" data-target="#myModal_{{course_id}}">
                      Delete
                 </button>
                <form action="{{url_for('deletecourse',course_id=course_id)}}" method="POST">
                    <div class="modal" id="myModal_{{course_id}}">
                      <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h4 class="modal-title">Delete Confirmation</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>

                          <div class="modal-body">
                            Are you sure you want to delete this course?
                          </div>

                          <div class="modal-footer">
                            <input type="submit" value="Delete" class="btn btn-danger">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                          </div>

                        </div>
                      </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
 </section>
{% endblock %}