{% extends "base.html" %}
{% block content%}
<div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Price($)</th>
        <th>Quantity</th>
        <th>Total Price($)</th>
      </tr>
    </thead>
    <tbody>
    {% for item in session['cart'] %}
      <tr>
        <td>{{ item.replace('_',' ') }}</td>
        <td>{{ session['cart'][item][0] }}</td>
        <td style="width:200px;" class="row">
          <form method="POST" action="{{url_for('editcart', action='minus')}}">
            <button class="btn btn-secondary" type="submit" name="minus_item" value="{{item}}"><span class="fa fa-minus"></span></button>
          </form>
          <p class="col-md-2">{{ session['cart'][item][1] }}</p>
          <form method="POST" action="{{url_for('editcart', action='plus')}}">
            <button class="btn btn-secondary" type="submit" name="add_item" value ="{{item}}" ><span class="fa fa-plus"></span></button>
          </form>
        </td>
        <td>{{ session['cart'][item][2] }}</td>
        <td>
          <form action="{{url_for('deleteitem', id=item)}}" method="POST">
            <!input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{item}}?');">
            <!-- Button to Open the Modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_{{item}}">
            Delete
            </button>

            <!-- The Modal -->
            <div class="modal" id="myModal_{{item}}">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    Are you sure you want to delete {{item}}?
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-danger">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  </div>

                </div>
              </div>
            </div>
          </form
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% if session['cart']|length != 0 %}
    <a href="{{ url_for('placeOrder' , item = 'cart') }}" style="margin-right:20px" class="btn btn-primary float-right">Place Order</a>
  {% endif %}
</div>
{% endblock %}