{% extends 'base.html' %}
{% block title %} View Course {% endblock %}
{% from "tutor_onboarding/__formhelperwithoutlabel.html" import render_field  %}
{% block content %}
<section class="section-content padding-y">
        <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h1>{{courseobject.course_title}}</h1>
                    <br>
                    <div class="widget-header">
                            <a href="#" class="ml-3 icontext" data-toggle="dropdown" data-offset="20,10">
                                <div class="icon"><img class="icon icon-md rounded-circle border" src=/static/images/profilepictures/{{userobject.get_user_profile_pic()}}></div>
                                <div class="text">
                                    <p style="font-size:2em;">{{userobject.get_username()}}</p> <br>
                                </div>
                            </a>
                    </div>
                    <br> <br>
                    <img src="/static/images/coursethumbnails/{{courseobject.course_thumbnail}}" class="img-fluid" alt="Responsive image">
                    <br> <br>
                    <h3>Course Description</h3>
                    <br>
                    <p>{{courseobject.description}}</p>
                    <br>
                </div>
                <br>
                <div>
                    <h3>Course Syllabus</h3>
                    {% for sessions in courseobject.sessions %}
                    <br> <br>
                    <div class="row">
                        <div class="col-md-3">
                            <p class="text-center text-muted">SESSION</p>
                            <h4 class="text-center">{{sessions.session_no}}</h4>
                        </div>
                        <div class="col">
                            <i class="icon mr-2 fas fa-stopwatch">Approx. {{sessions.time_approx}} hours</i>
                            <h4>{{sessions.session_title}}</h4>
                            <p>{{sessions.session_description}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
        </div>
 </section>
{% endblock %}