{% extends "base.html" %}
{% block title %}TutorHub - Register{% endblock %}

{% block content %}

<br><br><br>
<section class="container-fluid" style="min-height: 84vh; width: 90%">
    <div class="card mx-auto col-md-10">
        <div class="card-body">
            <center><h2 class="card-title mb-4">Registration Submitted!</h2>
            <h6>Thank you for registering your tuition. Approval of Institution takes about 2 to 3 working days. <br>
                Upon approval, Institution page will be created. Do check your email for further details! Thank you.</h6>
            <br>
            <a href="/InstitutionUser/AllInstitutions" class="btn btn-sm btn-primary ml-2"> Go home </a></center>
        </div>

    </div>
</section>

{% endblock %}