{% extends "tutor_onboarding/tutor_onboarding_base.html" %}
{% block title %}Become A Tutor!{% endblock %}

{% block content %}
    <section class="section-content padding-y">
        <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Ready to start teaching on <span style="color:#36d1dc;">TutorHub</span>?<br> Here's the breakdown:</h2>
                <hr>
                <!-- icon box start -->
                <div class="icontext align-items-start mr-6" style="max-width: 450px;">
                    <span class="icon icon-md rounded-circle bg-primary">
                        <i class="fas fa-book white"></i>

                    </span>
                    <div class="text">
                        <h5 class="title">Learn what makes a successful profile</h5>
                        <p class="text-muted">Discover the do’s and don’ts to ensure you’re always on the right track.</p>
                    </div>
                </div> <!-- iconbox // -->
                <hr>
                <!-- icon box start -->
                <div class="icontext align-items-start mr-6" style="max-width: 450px;">
                    <span class="icon icon-md rounded-circle bg-primary">
                        <i class="fa fa-user white"></i>
                    </span>
                    <div class="text">
                        <h5 class="title">Create your tutor profile</h5>
                        <p class="text-muted">Add your profile picture, description, and professional information.</p>
                    </div>
                </div> <!-- iconbox // -->
                <hr>
                <!-- icon box start -->
                <div class="icontext align-items-start mr-6" style="max-width: 450px;">
                    <span class="icon icon-md rounded-circle bg-primary">
                        <i class="fas fa-chair white"></i>
                    </span>
                    <div class="text">
                        <h5 class="title">Publish your Courses</h5>
                        <p class="text-muted">Create a Course of the subject you’re offering and start teaching instantly.</p>
                    </div>
                </div> <!-- iconbox // -->
                <hr>

                <a href="/tutor_onboarding/personal_info" class="btn btn-lg btn-primary">Continue</a>
                <!-- ============================ COMPONENT BANNER 7  END .// =========================== -->
            </div> <!-- col.// -->
        </div>
        </div>
        </div>
    </section>

{% endblock %}